@model GroupAssignment_Statehantering.Models.SettingsDisplayVM
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Oy vey iz mihr!</h1>
    <br />
    <h3>@Model.TempData</h3>
    <br />
    <h3>Support e-mail: @Model.SupportEmail</h3>
    <h3>Company name: @Model.CompanyName</h3>
    <h3></h3>
</body>
</html>