@using GroupAssignment_Cookies.Models;
@model UserWelcomeVM
<!DOCTYPE html>
<html>
<head>
    <title>Cookies Welcome</title>
</head>
<body>
    <h1>Cookies Welcome</h1>
    <h3>Welcome @Model.Username</h3>
</body>
</html>