<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Mvc Tenta SUN16</h1>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Validation", false)
</body>
</html>
